<div class="container">
  <table class=" mt-1 mb-1">
    <tr>
      <button class="btn btn-outline-dark " data-bs-toggle="modal" data-bs-target="#modalProduit">
        Ajouter un produit
        <i class="bi bi-plus-square"></i>
      </button>

<!-- Modal -->
<div class="modal fade" id="modalProduit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un produit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="createFormGroup">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label" >Nom</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="c_title">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Description</label>
            <input type="text" class="form-control" id="recipient-name" formControlName="c_description">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Prix</label>
            <input type="text" class="form-control" id="message-text"formControlName="c_price">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="ajoutProduit()">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    </tr>
   </table>
  <div class="card">
      <div class="card-header">Liste des produits</div>
            <div class="card-body">

              <h3>Afficher {{pageSize}} éléments</h3>
                <table class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th>ID</th>
                         <th>NOM</th>
                         <th>PRIX</th>
                         <th>Description</th>
                         <th>Créé par</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of productJson">
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.user.name}}</td>
                         <td>
                          <button class="btn btn-danger" (click)="deleteProduit(p.id)">
                            <i class="bi bi-trash"></i>
                          </button>
                          <button class="btn" data-bs-toggle="modal" data-bs-target="#modalModifProduit" (click)="products(p.id)">
                            <i class="bi bi-pencil-square"></i>
                          </button>
                          <div class="modal fade" id="modalModifProduit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Editer le produit</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form [formGroup]="productFormGroup" (ngSubmit)="modif(id)">
                                    <div class="mb-3">
                                      <label for="nom" class="col-form-label">Nom produit</label>
                                      <input type="text" class="form-control" id="nom" formControlName="title" [value]="title">
                                    </div>
                                    <div class="mb-3">
                                      <label for="desc" class="col-form-label">Description</label>
                                      <textarea type="text" class="form-control" rows="5" id="desc" formControlName="description" [value]="description"></textarea>
                                    </div>
                                    <div class="mb-3">
                                      <label for="prix" class="col-form-label">Prix</label>
                                      <input type="text" class="form-control" id="prix" formControlName="prix" [value]="prix">
                                    </div>
                                    <div class="mb-3">
                                      <label for="prix" class="col-form-label">Produit créé par : {{creePar}} </label>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                      <button type="button" class="btn btn-success" (click)="modif(id)">Enregistrer</button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                 <ul class="nav nav-pills">
                  <li *ngFor="let item of [].constructor(this.totalPages); let i =index">
                    <a [ngClass]="i==currentPage?'btn-dark':'btn-outline-dark'" (click)="goToPage(i)" class="btn ms-2 mt-2"> {{i}}</a>
                  </li>
                 </ul>
              </div>
  </div>
</div>
<router-outlet>

</router-outlet>

